<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="Browser" value="Chrome" />

    <test verbose="2" preserve-order="true" name="D:/IdeaProjects/Part-Risk-E2E-Prod-POM/src/test/java/E2ETS">

        <classes>

            <class name="E2ETS.T_2_Fun_Filters_For_Compliance">
                <methods>
                    <include name="Filters_For_Compliance"/>
                </methods>
            </class>


        </classes>
    </test>
</suite>