<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2"  name="Part Risk E2E All Functions CB">
        <classes>
            <class name="E2ETS.AA_2_Fun_Mitigation_Filters_and_Data_MPN_View">
                <methods>
                    <include name="Mitigation_Filters_and_Data_MPN_View"/>
                </methods>
            </class>
            <class name="E2ETS.AB_1_PCN_Search">
                <methods>
                    <include name="PCN_Search"/>
                </methods>
            </class>
            <class name="E2ETS.AC_1_Upload_BOM_and_Switcher">
                <methods>
                    <include name="Upload_BOM_and_Switcher"/>
                </methods>
            </class>
            <class name="E2ETS.A_1_Parametric_Search">
                <methods>
                    <include name="Parametric_Search"/>
                </methods>
            </class>
            <class name="E2ETS.B_1_Data_Management">
                <methods>
                    <include name="Data_Management"/>
                </methods>
            </class>
            <class name="E2ETS.C_1_Existing_BOM_and_Switcher">
                <methods>
                    <include name="Existing_BOM_and_Switcher"/>
                </methods>
            </class>
            <class name="E2ETS.D_1_PCN_Manager">
                <methods>
                    <include name="PCN_Manager"/>
                </methods>
            </class>
            <class name="E2ETS.E_1_Create_Alert_LifeCycle">
                <methods>
                    <include name="Create_Alert_LifeCycle"/>
                </methods>
            </class>
            <class name="E2ETS.F_1_Create_Alert_Litigation">
                <methods>
                    <include name="Create_Alert_Litigation"/>
                </methods>
            </class>
            <class name="E2ETS.G_1_Create_Alert_LifeCycle_Litigation">
                <methods>
                    <include name="Create_Alert_LifeCycle_Litigation"/>
                </methods>
            </class>
            <class name="E2ETS.H_1_Advanced_Crosses">
                <methods>
                    <include name="Advanced_Crosses"/>
                </methods>
            </class>
            <class name="E2ETS.I_1_Compare">
                <methods>
                    <include name="Compare_Parts"/>
                </methods>
            </class>
            <class name="E2ETS.J_1_Supplier_Search">
                <methods>
                    <include name="Search_for_Supplier"/>
                </methods>
            </class>
            <class name="E2ETS.L_2_Fun_Search_Part_Number">
                <methods>
                    <include name="Search_with_Part_Number"/>
                </methods>
            </class>
            <class name="E2ETS.M_2_Fun_Search_IPN">
                <methods>
                    <include name="Search_by_IPN"/>
                </methods>
            </class>
            <class name="E2ETS.N_2_Fun_Impacted_Parts">
                <methods>
                    <include name="Impacted_Parts"/>
                </methods>
            </class>
            <class name="E2ETS.O_2_Fun_Count_Of_Exact_Match">
                <methods>
                    <include name="Count_Exact_Match_in_Scrub"/>
                </methods>
            </class>
            <class name="E2ETS.P_2_Fun_MPN_View">
                <methods>
                    <include name="MPN_View"/>
                </methods>
            </class>
            <class name="E2ETS.Q_2_Fun_IPN_View">
                <methods>
                    <include name="IPN_View"/>
                </methods>
            </class>
            <class name="E2ETS.R_2_Fun_Forecast_Graph_MPN_View">
                <methods>
                    <include name="Status_with_Forecast_Graph_MPN_View"/>
                </methods>
            </class>
            <class name="E2ETS.S_2_Fun_Forecast_Graph_IPN_View">
                <methods>
                    <include name="ForeCast_Graph_IPN_View"/>
                </methods>
            </class>
            <class name="E2ETS.T_2_Fun_Filters_For_Compliance">
                <methods>
                    <include name="Filters_For_Compliance"/>
                </methods>
            </class>
            <class name="E2ETS.U_2_Fun_Create_Report">
                <methods>
                    <include name="Create_Report_Download"/>
                </methods>
            </class>
            <class name="E2ETS.V_2_Fun_Create_Folder_Data_Management">
                <methods>
                    <include name="Create_Folder_in_Data_Management"/>
                </methods>
            </class>
            <class name="E2ETS.W_2_Fun_Check_Side_High_Lifecycle_Risk_Parts_Link">
                <methods>
                    <include name="Check_Side_Panel_High_Risk"/>
                </methods>
            </class>
            <class name="E2ETS.X_2_Fun_Delete_BOMs">
                <methods>
                    <include name="Delete_BOMs"/>
                </methods>
            </class>
            <class name="E2ETS.Y_2_Fun_Obsolescence">
                <methods>
                    <include name="Check_Side_Panel_High_Risk"/>
                    <include name="Obsolete_Parts_in_3_Years"/>
                    <include name="Obsolete_Part_IN_5_Years"/>
                </methods>
            </class>
            <class name="E2ETS.Z_2_Fun_All_Obsolescence">
                <methods>
                    <include name="All_ObsolescencePage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>