<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2"  name="Part Risk E2E All Functions CB">
        <classes>

            <class name="E2ETS.AC_1_Upload_BOM_and_Switcher">
                <methods>
                    <include name="Upload_BOM_and_Switcher"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>